include _header
include _footer
block head
body
    main
        //- div(style='display:none')
            radial-gradient#starRadialGradient-1(cx='50%', cy='49.9979167%', fx='50%', fy='49.9979167%', r='36.912%', gradienttransform='translate(0.500000,0.499979),scale(0.300000,1.000000),translate(-0.500000,-0.499979)')
                stop(stop-color='#73D1F6', offset='0%')
                stop(stop-color='#54C9EE', offset='100%')
            radialgradient#starRadialGradient-2(cx='62.4999213%', cy='181.320074%', fx='62.4999213%', fy='181.320074%', r='209.462054%', gradienttransform='translate(0.624999,1.813201),scale(1.000000,0.999780),translate(-0.624999,-1.813201)')
                stop(stop-color='#F58547', offset='0%')
                stop(stop-color='#EF3733', offset='100%')
            radialgradient#starRadialGradient-3(cx='117.350417%', cy='110.835%', fx='117.350417%', fy='110.835%', r='256.351667%', gradienttransform='translate(1.173504,1.108350),scale(1.000000,0.300000),translate(-1.173504,-1.108350)')
                stop(stop-color='#F58547', offset='0%')
                stop(stop-color='#EF3733', offset='100%')
            radialgradient#starRadialGradient-4(cx='187.577886%', cy='56.9963913%', fx='187.577886%', fy='56.9963913%', r='202.906985%', gradienttransform='translate(1.875779,0.569964),scale(1.000000,0.999846),translate(-1.875779,-0.569964)')
                stop(stop-color='#EFE807', offset='0%')
                stop(stop-color='#F7901E', offset='100%')
            radialgradient#starRadialGradient-5(cx='115.115375%', cy='-14.0829167%', fx='115.115375%', fy='-14.0829167%', r='40.785875%', gradienttransform='translate(1.151154,-0.140829),scale(0.300000,1.000000),translate(-1.151154,0.140829)')
                stop(stop-color='#EFE807', offset='0%')
                stop(stop-color='#F7901E', offset='100%')
            radialgradient#starRadialGradient-6(cx='35.830792%', cy='-89.3392637%', fx='35.830792%', fy='-89.3392637%', r='204.762051%', gradienttransform='translate(0.358308,-0.893393),scale(1.000000,0.999860),translate(-0.358308,0.893393)')
                stop(stop-color='#BCD862', offset='0%')
                stop(stop-color='#7EC242', offset='100%')
            radialgradient#starRadialGradient-7(cx='-17.632182%', cy='-16.319%', fx='-17.632182%', fy='-16.319%', r='325.878505%', gradienttransform='translate(-0.176322,-0.163190),scale(1.000000,0.300013),translate(0.176322,0.163190)')
                stop(stop-color='#BCD862', offset='0%')
                stop(stop-color='#7EC242', offset='100%')
            radialgradient#starRadialGradient-8(cx='49.9985311%', cy='49.9986013%', fx='49.9985311%', fy='49.9986013%', r='50.0062254%', gradienttransform='translate(0.499985,0.499986),scale(1.000000,0.999797),translate(-0.499985,-0.499986)')
                stop(stop-color='#73D1F6', offset='0%')
                stop(stop-color='#54C9EE', offset='100%')
        block content
//- +footer() 
   