.f16 li {
  padding-left: 30px; }

.f16 .flag {
  background: url(/static/icons/flags16.png) no-repeat; }

.f16 ._African_Union {
  background-position: 0 -16px; }

.f16 ._Arab_League {
  background-position: 0 -32px; }

.f16 ._ASEAN {
  background-position: 0 -48px; }

.f16 ._CARICOM {
  background-position: 0 -64px; }

.f16 ._CIS {
  background-position: 0 -80px; }

.f16 ._Commonwealth {
  background-position: 0 -96px; }

.f16 ._England {
  background-position: 0 -112px; }

.f16 ._European_Union {
  background-position: 0 -128px; }

.f16 ._Islamic_Conference {
  background-position: 0 -144px; }

.f16 ._Kosovo {
  background-position: 0 -160px; }

.f16 ._NATO {
  background-position: 0 -176px; }

.f16 ._Northern_Cyprus {
  background-position: 0 -192px; }

.f16 ._Northern_Ireland {
  background-position: 0 -208px; }

.f16 ._Olimpic_Movement {
  background-position: 0 -224px; }

.f16 ._OPEC {
  background-position: 0 -240px; }

.f16 ._Red_Cross {
  background-position: 0 -256px; }

.f16 ._Scotland {
  background-position: 0 -272px; }

.f16 ._Somaliland {
  background-position: 0 -288px; }

.f16 ._Tibet {
  background-position: 0 -304px; }

.f16 ._United_Nations {
  background-position: 0 -320px; }

.f16 ._Wales {
  background-position: 0 -336px; }

.f16 .eu {
  background-position: 0 -128px; }

.f16 .ad {
  background-position: 0 -352px; }

.f16 .ae {
  background-position: 0 -368px; }

.f16 .af {
  background-position: 0 -384px; }

.f16 .ag {
  background-position: 0 -400px; }

.f16 .ai {
  background-position: 0 -416px; }

.f16 .al {
  background-position: 0 -432px; }

.f16 .am {
  background-position: 0 -448px; }

.f16 .ao {
  background-position: 0 -464px; }

.f16 .aq {
  background-position: 0 -480px; }

.f16 .ar {
  background-position: 0 -496px; }

.f16 .as {
  background-position: 0 -512px; }

.f16 .at {
  background-position: 0 -528px; }

.f16 .au {
  background-position: 0 -544px; }

.f16 .aw {
  background-position: 0 -560px; }

.f16 .ax {
  background-position: 0 -576px; }

.f16 .az {
  background-position: 0 -592px; }

.f16 .ba {
  background-position: 0 -608px; }

.f16 .bb {
  background-position: 0 -624px; }

.f16 .bd {
  background-position: 0 -640px; }

.f16 .be {
  background-position: 0 -656px; }

.f16 .bf {
  background-position: 0 -672px; }

.f16 .bg {
  background-position: 0 -688px; }

.f16 .bh {
  background-position: 0 -704px; }

.f16 .bi {
  background-position: 0 -720px; }

.f16 .bj {
  background-position: 0 -736px; }

.f16 .bm {
  background-position: 0 -752px; }

.f16 .bn {
  background-position: 0 -768px; }

.f16 .bo {
  background-position: 0 -784px; }

.f16 .br {
  background-position: 0 -800px; }

.f16 .bs {
  background-position: 0 -816px; }

.f16 .bt {
  background-position: 0 -832px; }

.f16 .bw {
  background-position: 0 -848px; }

.f16 .by {
  background-position: 0 -864px; }

.f16 .bz {
  background-position: 0 -880px; }

.f16 .ca {
  background-position: 0 -896px; }

.f16 .cg {
  background-position: 0 -912px; }

.f16 .cf {
  background-position: 0 -928px; }

.f16 .cd {
  background-position: 0 -944px; }

.f16 .ch {
  background-position: 0 -960px; }

.f16 .ci {
  background-position: 0 -976px; }

.f16 .ck {
  background-position: 0 -992px; }

.f16 .cl {
  background-position: 0 -1008px; }

.f16 .cm {
  background-position: 0 -1024px; }

.f16 .cn {
  background-position: 0 -1040px; }

.f16 .co {
  background-position: 0 -1056px; }

.f16 .cr {
  background-position: 0 -1072px; }

.f16 .cu {
  background-position: 0 -1088px; }

.f16 .cv {
  background-position: 0 -1104px; }

.f16 .cy {
  background-position: 0 -1120px; }

.f16 .cz {
  background-position: 0 -1136px; }

.f16 .de {
  background-position: 0 -1152px; }

.f16 .dj {
  background-position: 0 -1168px; }

.f16 .dk {
  background-position: 0 -1184px; }

.f16 .dm {
  background-position: 0 -1200px; }

.f16 .do {
  background-position: 0 -1216px; }

.f16 .dz {
  background-position: 0 -1232px; }

.f16 .ec {
  background-position: 0 -1248px; }

.f16 .ee {
  background-position: 0 -1264px; }

.f16 .eg {
  background-position: 0 -1280px; }

.f16 .eh {
  background-position: 0 -1296px; }

.f16 .er {
  background-position: 0 -1312px; }

.f16 .es {
  background-position: 0 -1328px; }

.f16 .et {
  background-position: 0 -1344px; }

.f16 .fi {
  background-position: 0 -1360px; }

.f16 .fj {
  background-position: 0 -1376px; }

.f16 .fm {
  background-position: 0 -1392px; }

.f16 .fo {
  background-position: 0 -1408px; }

.f16 .fr {
  background-position: 0 -1424px; }

.f16 .bl {
  background-position: 0 -1424px; }

.f16 .cp {
  background-position: 0 -1424px; }

.f16 .mf {
  background-position: 0 -1424px; }

.f16 .yt {
  background-position: 0 -1424px; }

.f16 .ga {
  background-position: 0 -1440px; }

.f16 .gb {
  background-position: 0 -1456px; }

.f16 .sh {
  background-position: 0 -1456px; }

.f16 .gd {
  background-position: 0 -1472px; }

.f16 .ge {
  background-position: 0 -1488px; }

.f16 .gg {
  background-position: 0 -1504px; }

.f16 .gh {
  background-position: 0 -1520px; }

.f16 .gi {
  background-position: 0 -1536px; }

.f16 .gl {
  background-position: 0 -1552px; }

.f16 .gm {
  background-position: 0 -1568px; }

.f16 .gn {
  background-position: 0 -1584px; }

.f16 .gp {
  background-position: 0 -1600px; }

.f16 .gq {
  background-position: 0 -1616px; }

.f16 .gr {
  background-position: 0 -1632px; }

.f16 .gt {
  background-position: 0 -1648px; }

.f16 .gu {
  background-position: 0 -1664px; }

.f16 .gw {
  background-position: 0 -1680px; }

.f16 .gy {
  background-position: 0 -1696px; }

.f16 .hk {
  background-position: 0 -1712px; }

.f16 .hn {
  background-position: 0 -1728px; }

.f16 .hr {
  background-position: 0 -1744px; }

.f16 .ht {
  background-position: 0 -1760px; }

.f16 .hu {
  background-position: 0 -1776px; }

.f16 .id {
  background-position: 0 -1792px; }

.f16 .mc {
  background-position: 0 -1792px; }

.f16 .ie {
  background-position: 0 -1808px; }

.f16 .il {
  background-position: 0 -1824px; }

.f16 .im {
  background-position: 0 -1840px; }

.f16 .in {
  background-position: 0 -1856px; }

.f16 .iq {
  background-position: 0 -1872px; }

.f16 .ir {
  background-position: 0 -1888px; }

.f16 .is {
  background-position: 0 -1904px; }

.f16 .it {
  background-position: 0 -1920px; }

.f16 .je {
  background-position: 0 -1936px; }

.f16 .jm {
  background-position: 0 -1952px; }

.f16 .jo {
  background-position: 0 -1968px; }

.f16 .jp {
  background-position: 0 -1984px; }

.f16 .ke {
  background-position: 0 -2000px; }

.f16 .kg {
  background-position: 0 -2016px; }

.f16 .kh {
  background-position: 0 -2032px; }

.f16 .ki {
  background-position: 0 -2048px; }

.f16 .km {
  background-position: 0 -2064px; }

.f16 .kn {
  background-position: 0 -2080px; }

.f16 .kp {
  background-position: 0 -2096px; }

.f16 .kr {
  background-position: 0 -2112px; }

.f16 .kw {
  background-position: 0 -2128px; }

.f16 .ky {
  background-position: 0 -2144px; }

.f16 .kz {
  background-position: 0 -2160px; }

.f16 .la {
  background-position: 0 -2176px; }

.f16 .lb {
  background-position: 0 -2192px; }

.f16 .lc {
  background-position: 0 -2208px; }

.f16 .li {
  background-position: 0 -2224px; }

.f16 .lk {
  background-position: 0 -2240px; }

.f16 .lr {
  background-position: 0 -2256px; }

.f16 .ls {
  background-position: 0 -2272px; }

.f16 .lt {
  background-position: 0 -2288px; }

.f16 .lu {
  background-position: 0 -2304px; }

.f16 .lv {
  background-position: 0 -2320px; }

.f16 .ly {
  background-position: 0 -2336px; }

.f16 .ma {
  background-position: 0 -2352px; }

.f16 .md {
  background-position: 0 -2368px; }

.f16 .me {
  background-position: 0 -2384px; }

.f16 .mg {
  background-position: 0 -2400px; }

.f16 .mh {
  background-position: 0 -2416px; }

.f16 .mk {
  background-position: 0 -2432px; }

.f16 .ml {
  background-position: 0 -2448px; }

.f16 .mm {
  background-position: 0 -2464px; }

.f16 .mn {
  background-position: 0 -2480px; }

.f16 .mo {
  background-position: 0 -2496px; }

.f16 .mq {
  background-position: 0 -2512px; }

.f16 .mr {
  background-position: 0 -2528px; }

.f16 .ms {
  background-position: 0 -2544px; }

.f16 .mt {
  background-position: 0 -2560px; }

.f16 .mu {
  background-position: 0 -2576px; }

.f16 .mv {
  background-position: 0 -2592px; }

.f16 .mw {
  background-position: 0 -2608px; }

.f16 .mx {
  background-position: 0 -2624px; }

.f16 .my {
  background-position: 0 -2640px; }

.f16 .mz {
  background-position: 0 -2656px; }

.f16 .na {
  background-position: 0 -2672px; }

.f16 .nc {
  background-position: 0 -2688px; }

.f16 .ne {
  background-position: 0 -2704px; }

.f16 .ng {
  background-position: 0 -2720px; }

.f16 .ni {
  background-position: 0 -2736px; }

.f16 .nl {
  background-position: 0 -2752px; }

.f16 .bq {
  background-position: 0 -2752px; }

.f16 .no {
  background-position: 0 -2768px; }

.f16 .bv {
  background-position: 0 -2768px; }

.f16 .nq {
  background-position: 0 -2768px; }

.f16 .sj {
  background-position: 0 -2768px; }

.f16 .np {
  background-position: 0 -2784px; }

.f16 .nr {
  background-position: 0 -2800px; }

.f16 .nz {
  background-position: 0 -2816px; }

.f16 .om {
  background-position: 0 -2832px; }

.f16 .pa {
  background-position: 0 -2848px; }

.f16 .pe {
  background-position: 0 -2864px; }

.f16 .pf {
  background-position: 0 -2880px; }

.f16 .pg {
  background-position: 0 -2896px; }

.f16 .ph {
  background-position: 0 -2912px; }

.f16 .pk {
  background-position: 0 -2928px; }

.f16 .pl {
  background-position: 0 -2944px; }

.f16 .pr {
  background-position: 0 -2960px; }

.f16 .ps {
  background-position: 0 -2976px; }

.f16 .pt {
  background-position: 0 -2992px; }

.f16 .pw {
  background-position: 0 -3008px; }

.f16 .py {
  background-position: 0 -3024px; }

.f16 .qa {
  background-position: 0 -3040px; }

.f16 .re {
  background-position: 0 -3056px; }

.f16 .ro {
  background-position: 0 -3072px; }

.f16 .rs {
  background-position: 0 -3088px; }

.f16 .ru {
  background-position: 0 -3104px; }

.f16 .rw {
  background-position: 0 -3120px; }

.f16 .sa {
  background-position: 0 -3136px; }

.f16 .sb {
  background-position: 0 -3152px; }

.f16 .sc {
  background-position: 0 -3168px; }

.f16 .sd {
  background-position: 0 -3184px; }

.f16 .se {
  background-position: 0 -3200px; }

.f16 .sg {
  background-position: 0 -3216px; }

.f16 .si {
  background-position: 0 -3232px; }

.f16 .sk {
  background-position: 0 -3248px; }

.f16 .sl {
  background-position: 0 -3264px; }

.f16 .sm {
  background-position: 0 -3280px; }

.f16 .sn {
  background-position: 0 -3296px; }

.f16 .so {
  background-position: 0 -3312px; }

.f16 .sr {
  background-position: 0 -3328px; }

.f16 .st {
  background-position: 0 -3344px; }

.f16 .sv {
  background-position: 0 -3360px; }

.f16 .sy {
  background-position: 0 -3376px; }

.f16 .sz {
  background-position: 0 -3392px; }

.f16 .tc {
  background-position: 0 -3408px; }

.f16 .td {
  background-position: 0 -3424px; }

.f16 .tg {
  background-position: 0 -3440px; }

.f16 .th {
  background-position: 0 -3456px; }

.f16 .tj {
  background-position: 0 -3472px; }

.f16 .tl {
  background-position: 0 -3488px; }

.f16 .tm {
  background-position: 0 -3504px; }

.f16 .tn {
  background-position: 0 -3520px; }

.f16 .to {
  background-position: 0 -3536px; }

.f16 .tr {
  background-position: 0 -3552px; }

.f16 .tt {
  background-position: 0 -3568px; }

.f16 .tv {
  background-position: 0 -3584px; }

.f16 .tw {
  background-position: 0 -3600px; }

.f16 .tz {
  background-position: 0 -3616px; }

.f16 .ua {
  background-position: 0 -3632px; }

.f16 .ug {
  background-position: 0 -3648px; }

.f16 .us {
  background-position: 0 -3664px; }

.f16 .uy {
  background-position: 0 -3680px; }

.f16 .uz {
  background-position: 0 -3696px; }

.f16 .va {
  background-position: 0 -3712px; }

.f16 .vc {
  background-position: 0 -3728px; }

.f16 .ve {
  background-position: 0 -3744px; }

.f16 .vg {
  background-position: 0 -3760px; }

.f16 .vi {
  background-position: 0 -3776px; }

.f16 .vn {
  background-position: 0 -3792px; }

.f16 .vu {
  background-position: 0 -3808px; }

.f16 .ws {
  background-position: 0 -3824px; }

.f16 .ye {
  background-position: 0 -3840px; }

.f16 .za {
  background-position: 0 -3856px; }

.f16 .zm {
  background-position: 0 -3872px; }

.f16 .zw {
  background-position: 0 -3888px; }

.f16 .sx {
  background-position: 0 -3904px; }

.f16 .cw {
  background-position: 0 -3920px; }

.f16 .ss {
  background-position: 0 -3936px; }

.f16 .nu {
  background-position: 0 -3952px; }

.f32 .flag {
  background: url(/static/icons/flags32.png) no-repeat; }

.f32 ._African_Union {
  background-position: 0 -32px; }

.f32 ._Arab_League {
  background-position: 0 -64px; }

.f32 ._ASEAN {
  background-position: 0 -96px; }

.f32 ._CARICOM {
  background-position: 0 -128px; }

.f32 ._CIS {
  background-position: 0 -160px; }

.f32 ._Commonwealth {
  background-position: 0 -192px; }

.f32 ._England {
  background-position: 0 -224px; }

.f32 ._European_Union {
  background-position: 0 -256px; }

.f32 ._Islamic_Conference {
  background-position: 0 -288px; }

.f32 ._Kosovo {
  background-position: 0 -320px; }

.f32 ._NATO {
  background-position: 0 -352px; }

.f32 ._Northern_Cyprus {
  background-position: 0 -384px; }

.f32 ._Northern_Ireland {
  background-position: 0 -416px; }

.f32 ._Olimpic_Movement {
  background-position: 0 -448px; }

.f32 ._OPEC {
  background-position: 0 -480px; }

.f32 ._Red_Cross {
  background-position: 0 -512px; }

.f32 ._Scotland {
  background-position: 0 -544px; }

.f32 ._Somaliland {
  background-position: 0 -576px; }

.f32 ._Tibet {
  background-position: 0 -608px; }

.f32 ._United_Nations {
  background-position: 0 -640px; }

.f32 ._Wales {
  background-position: 0 -672px; }

.f32 .eu {
  background-position: 0 -256px; }

.f32 .ad {
  background-position: 0 -704px; }

.f32 .ae {
  background-position: 0 -736px; }

.f32 .af {
  background-position: 0 -768px; }

.f32 .ag {
  background-position: 0 -800px; }

.f32 .ai {
  background-position: 0 -832px; }

.f32 .al {
  background-position: 0 -864px; }

.f32 .am {
  background-position: 0 -896px; }

.f32 .ao {
  background-position: 0 -928px; }

.f32 .aq {
  background-position: 0 -960px; }

.f32 .ar {
  background-position: 0 -992px; }

.f32 .as {
  background-position: 0 -1024px; }

.f32 .at {
  background-position: 0 -1056px; }

.f32 .au {
  background-position: 0 -1088px; }

.f32 .aw {
  background-position: 0 -1120px; }

.f32 .ax {
  background-position: 0 -1152px; }

.f32 .az {
  background-position: 0 -1184px; }

.f32 .ba {
  background-position: 0 -1216px; }

.f32 .bb {
  background-position: 0 -1248px; }

.f32 .bd {
  background-position: 0 -1280px; }

.f32 .be {
  background-position: 0 -1312px; }

.f32 .bf {
  background-position: 0 -1344px; }

.f32 .bg {
  background-position: 0 -1376px; }

.f32 .bh {
  background-position: 0 -1408px; }

.f32 .bi {
  background-position: 0 -1440px; }

.f32 .bj {
  background-position: 0 -1472px; }

.f32 .bm {
  background-position: 0 -1504px; }

.f32 .bn {
  background-position: 0 -1536px; }

.f32 .bo {
  background-position: 0 -1568px; }

.f32 .br {
  background-position: 0 -1600px; }

.f32 .bs {
  background-position: 0 -1632px; }

.f32 .bt {
  background-position: 0 -1664px; }

.f32 .bw {
  background-position: 0 -1696px; }

.f32 .by {
  background-position: 0 -1728px; }

.f32 .bz {
  background-position: 0 -1760px; }

.f32 .ca {
  background-position: 0 -1792px; }

.f32 .cd {
  background-position: 0 -1824px; }

.f32 .cf {
  background-position: 0 -1856px; }

.f32 .cg {
  background-position: 0 -1888px; }

.f32 .ch {
  background-position: 0 -1920px; }

.f32 .ci {
  background-position: 0 -1952px; }

.f32 .ck {
  background-position: 0 -1984px; }

.f32 .cl {
  background-position: 0 -2016px; }

.f32 .cm {
  background-position: 0 -2048px; }

.f32 .cn {
  background-position: 0 -2080px; }

.f32 .co {
  background-position: 0 -2112px; }

.f32 .cr {
  background-position: 0 -2144px; }

.f32 .cu {
  background-position: 0 -2176px; }

.f32 .cv {
  background-position: 0 -2208px; }

.f32 .cy {
  background-position: 0 -2240px; }

.f32 .cz {
  background-position: 0 -2272px; }

.f32 .de {
  background-position: 0 -2304px; }

.f32 .dj {
  background-position: 0 -2336px; }

.f32 .dk {
  background-position: 0 -2368px; }

.f32 .dm {
  background-position: 0 -2400px; }

.f32 .do {
  background-position: 0 -2432px; }

.f32 .dz {
  background-position: 0 -2464px; }

.f32 .ec {
  background-position: 0 -2496px; }

.f32 .ee {
  background-position: 0 -2528px; }

.f32 .eg {
  background-position: 0 -2560px; }

.f32 .eh {
  background-position: 0 -2592px; }

.f32 .er {
  background-position: 0 -2624px; }

.f32 .es {
  background-position: 0 -2656px; }

.f32 .et {
  background-position: 0 -2688px; }

.f32 .fi {
  background-position: 0 -2720px; }

.f32 .fj {
  background-position: 0 -2752px; }

.f32 .fm {
  background-position: 0 -2784px; }

.f32 .fo {
  background-position: 0 -2816px; }

.f32 .fr {
  background-position: 0 -2848px; }

.f32 .bl {
  background-position: 0 -2848px; }

.f32 .cp {
  background-position: 0 -2848px; }

.f32 .mf {
  background-position: 0 -2848px; }

.f32 .yt {
  background-position: 0 -2848px; }

.f32 .ga {
  background-position: 0 -2880px; }

.f32 .gb {
  background-position: 0 -2912px; }

.f32 .sh {
  background-position: 0 -2912px; }

.f32 .gd {
  background-position: 0 -2944px; }

.f32 .ge {
  background-position: 0 -2976px; }

.f32 .gg {
  background-position: 0 -3008px; }

.f32 .gh {
  background-position: 0 -3040px; }

.f32 .gi {
  background-position: 0 -3072px; }

.f32 .gl {
  background-position: 0 -3104px; }

.f32 .gm {
  background-position: 0 -3136px; }

.f32 .gn {
  background-position: 0 -3168px; }

.f32 .gp {
  background-position: 0 -3200px; }

.f32 .gq {
  background-position: 0 -3232px; }

.f32 .gr {
  background-position: 0 -3264px; }

.f32 .gt {
  background-position: 0 -3296px; }

.f32 .gu {
  background-position: 0 -3328px; }

.f32 .gw {
  background-position: 0 -3360px; }

.f32 .gy {
  background-position: 0 -3392px; }

.f32 .hk {
  background-position: 0 -3424px; }

.f32 .hn {
  background-position: 0 -3456px; }

.f32 .hr {
  background-position: 0 -3488px; }

.f32 .ht {
  background-position: 0 -3520px; }

.f32 .hu {
  background-position: 0 -3552px; }

.f32 .id {
  background-position: 0 -3584px; }

.f32 .mc {
  background-position: 0 -3584px; }

.f32 .ie {
  background-position: 0 -3616px; }

.f32 .il {
  background-position: 0 -3648px; }

.f32 .im {
  background-position: 0 -3680px; }

.f32 .in {
  background-position: 0 -3712px; }

.f32 .iq {
  background-position: 0 -3744px; }

.f32 .ir {
  background-position: 0 -3776px; }

.f32 .is {
  background-position: 0 -3808px; }

.f32 .it {
  background-position: 0 -3840px; }

.f32 .je {
  background-position: 0 -3872px; }

.f32 .jm {
  background-position: 0 -3904px; }

.f32 .jo {
  background-position: 0 -3936px; }

.f32 .jp {
  background-position: 0 -3968px; }

.f32 .ke {
  background-position: 0 -4000px; }

.f32 .kg {
  background-position: 0 -4032px; }

.f32 .kh {
  background-position: 0 -4064px; }

.f32 .ki {
  background-position: 0 -4096px; }

.f32 .km {
  background-position: 0 -4128px; }

.f32 .kn {
  background-position: 0 -4160px; }

.f32 .kp {
  background-position: 0 -4192px; }

.f32 .kr {
  background-position: 0 -4224px; }

.f32 .kw {
  background-position: 0 -4256px; }

.f32 .ky {
  background-position: 0 -4288px; }

.f32 .kz {
  background-position: 0 -4320px; }

.f32 .la {
  background-position: 0 -4352px; }

.f32 .lb {
  background-position: 0 -4384px; }

.f32 .lc {
  background-position: 0 -4416px; }

.f32 .li {
  background-position: 0 -4448px; }

.f32 .lk {
  background-position: 0 -4480px; }

.f32 .lr {
  background-position: 0 -4512px; }

.f32 .ls {
  background-position: 0 -4544px; }

.f32 .lt {
  background-position: 0 -4576px; }

.f32 .lu {
  background-position: 0 -4608px; }

.f32 .lv {
  background-position: 0 -4640px; }

.f32 .ly {
  background-position: 0 -4672px; }

.f32 .ma {
  background-position: 0 -4704px; }

.f32 .md {
  background-position: 0 -4736px; }

.f32 .me {
  background-position: 0 -4768px; }

.f32 .mg {
  background-position: 0 -4800px; }

.f32 .mh {
  background-position: 0 -4832px; }

.f32 .mk {
  background-position: 0 -4864px; }

.f32 .ml {
  background-position: 0 -4896px; }

.f32 .mm {
  background-position: 0 -4928px; }

.f32 .mn {
  background-position: 0 -4960px; }

.f32 .mo {
  background-position: 0 -4992px; }

.f32 .mq {
  background-position: 0 -5024px; }

.f32 .mr {
  background-position: 0 -5056px; }

.f32 .ms {
  background-position: 0 -5088px; }

.f32 .mt {
  background-position: 0 -5120px; }

.f32 .mu {
  background-position: 0 -5152px; }

.f32 .mv {
  background-position: 0 -5184px; }

.f32 .mw {
  background-position: 0 -5216px; }

.f32 .mx {
  background-position: 0 -5248px; }

.f32 .my {
  background-position: 0 -5280px; }

.f32 .mz {
  background-position: 0 -5312px; }

.f32 .na {
  background-position: 0 -5344px; }

.f32 .nc {
  background-position: 0 -5376px; }

.f32 .ne {
  background-position: 0 -5408px; }

.f32 .ng {
  background-position: 0 -5440px; }

.f32 .ni {
  background-position: 0 -5472px; }

.f32 .nl {
  background-position: 0 -5504px; }

.f32 .bq {
  background-position: 0 -5504px; }

.f32 .no {
  background-position: 0 -5536px; }

.f32 .bv {
  background-position: 0 -5536px; }

.f32 .nq {
  background-position: 0 -5536px; }

.f32 .sj {
  background-position: 0 -5536px; }

.f32 .np {
  background-position: 0 -5568px; }

.f32 .nr {
  background-position: 0 -5600px; }

.f32 .nz {
  background-position: 0 -5632px; }

.f32 .om {
  background-position: 0 -5664px; }

.f32 .pa {
  background-position: 0 -5696px; }

.f32 .pe {
  background-position: 0 -5728px; }

.f32 .pf {
  background-position: 0 -5760px; }

.f32 .pg {
  background-position: 0 -5792px; }

.f32 .ph {
  background-position: 0 -5824px; }

.f32 .pk {
  background-position: 0 -5856px; }

.f32 .pl {
  background-position: 0 -5888px; }

.f32 .pr {
  background-position: 0 -5920px; }

.f32 .ps {
  background-position: 0 -5952px; }

.f32 .pt {
  background-position: 0 -5984px; }

.f32 .pw {
  background-position: 0 -6016px; }

.f32 .py {
  background-position: 0 -6048px; }

.f32 .qa {
  background-position: 0 -6080px; }

.f32 .re {
  background-position: 0 -6112px; }

.f32 .ro {
  background-position: 0 -6144px; }

.f32 .rs {
  background-position: 0 -6176px; }

.f32 .ru {
  background-position: 0 -6208px; }

.f32 .rw {
  background-position: 0 -6240px; }

.f32 .sa {
  background-position: 0 -6272px; }

.f32 .sb {
  background-position: 0 -6304px; }

.f32 .sc {
  background-position: 0 -6336px; }

.f32 .sd {
  background-position: 0 -6368px; }

.f32 .se {
  background-position: 0 -6400px; }

.f32 .sg {
  background-position: 0 -6432px; }

.f32 .si {
  background-position: 0 -6464px; }

.f32 .sk {
  background-position: 0 -6496px; }

.f32 .sl {
  background-position: 0 -6528px; }

.f32 .sm {
  background-position: 0 -6560px; }

.f32 .sn {
  background-position: 0 -6592px; }

.f32 .so {
  background-position: 0 -6624px; }

.f32 .sr {
  background-position: 0 -6656px; }

.f32 .st {
  background-position: 0 -6688px; }

.f32 .sv {
  background-position: 0 -6720px; }

.f32 .sy {
  background-position: 0 -6752px; }

.f32 .sz {
  background-position: 0 -6784px; }

.f32 .tc {
  background-position: 0 -6816px; }

.f32 .td {
  background-position: 0 -6848px; }

.f32 .tg {
  background-position: 0 -6880px; }

.f32 .th {
  background-position: 0 -6912px; }

.f32 .tj {
  background-position: 0 -6944px; }

.f32 .tl {
  background-position: 0 -6976px; }

.f32 .tm {
  background-position: 0 -7008px; }

.f32 .tn {
  background-position: 0 -7040px; }

.f32 .to {
  background-position: 0 -7072px; }

.f32 .tr {
  background-position: 0 -7104px; }

.f32 .tt {
  background-position: 0 -7136px; }

.f32 .tv {
  background-position: 0 -7168px; }

.f32 .tw {
  background-position: 0 -7200px; }

.f32 .tz {
  background-position: 0 -7232px; }

.f32 .ua {
  background-position: 0 -7264px; }

.f32 .ug {
  background-position: 0 -7296px; }

.f32 .us {
  background-position: 0 -7328px; }

.f32 .uy {
  background-position: 0 -7360px; }

.f32 .uz {
  background-position: 0 -7392px; }

.f32 .va {
  background-position: 0 -7424px; }

.f32 .vc {
  background-position: 0 -7456px; }

.f32 .ve {
  background-position: 0 -7488px; }

.f32 .vg {
  background-position: 0 -7520px; }

.f32 .vi {
  background-position: 0 -7552px; }

.f32 .vn {
  background-position: 0 -7584px; }

.f32 .vu {
  background-position: 0 -7616px; }

.f32 .ws {
  background-position: 0 -7648px; }

.f32 .ye {
  background-position: 0 -7680px; }

.f32 .za {
  background-position: 0 -7712px; }

.f32 .zm {
  background-position: 0 -7744px; }

.f32 .zw {
  background-position: 0 -7776px; }

.f32 .sx {
  background-position: 0 -7808px; }

.f32 .cw {
  background-position: 0 -7840px; }

.f32 .ss {
  background-position: 0 -7872px; }

.f32 .nu {
  background-position: 0 -7904px; }

@font-face {
  font-family: 'icomoon';
  src: url("/static/fonts/icomoon.eot?j5vz2q");
  src: url("/static/fonts/icomoon.eot?j5vz2q#iefix") format("embedded-opentype"), url("/static/fonts/icomoon.ttf?j5vz2q") format("truetype"), url("/static/fonts/icomoon.woff?j5vz2q") format("woff"), url("/static/fonts/icomoon.svg?j5vz2q#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-noun_1255263_cc {
  transform: rotate(90deg);
  padding: 0 .5rem;
  opacity: .5; }

.icon-noun_662492_cc:before {
  content: "\e900"; }

.icon-noun_795511_cc:before {
  content: "\e902"; }

.icon-noun_827147_cc:before {
  content: "\e903"; }

.icon-noun_899440_cc:before {
  content: "\e904"; }

.icon-noun_976470_cc:before {
  content: "\e905"; }

.icon-noun_1033618_cc:before {
  content: "\e906"; }

.icon-noun_1049529_cc:before {
  content: "\e907"; }

.icon-noun_1052586_cc:before {
  content: "\e908"; }

.icon-noun_1095720_cc:before {
  content: "\e909"; }

.icon-noun_1191184_cc:before {
  content: "\e90a"; }

.icon-noun_1255263_cc:before {
  content: "\e90b"; }

.icon-noun_1265694_cc:before {
  content: "\e90c"; }

.icon-activity:before {
  content: "\e90d"; }

.icon-airplay:before {
  content: "\e90e"; }

.icon-alert-circle:before {
  content: "\e90f"; }

.icon-alert-octagon:before {
  content: "\e910"; }

.icon-alert-triangle:before {
  content: "\e911"; }

.icon-align-center:before {
  content: "\e912"; }

.icon-align-justify:before {
  content: "\e913"; }

.icon-align-left:before {
  content: "\e914"; }

.icon-align-right:before {
  content: "\e915"; }

.icon-anchor:before {
  content: "\e916"; }

.icon-aperture:before {
  content: "\e917"; }

.icon-arrow-down-left:before {
  content: "\e918"; }

.icon-arrow-down-right:before {
  content: "\e919"; }

.icon-arrow-down:before {
  content: "\e91a"; }

.icon-arrow-left:before {
  content: "\e91b"; }

.icon-arrow-right:before {
  content: "\e91c"; }

.icon-arrow-up-left:before {
  content: "\e91d"; }

.icon-arrow-up-right:before {
  content: "\e91e"; }

.icon-arrow-up:before {
  content: "\e91f"; }

.icon-at-sign:before {
  content: "\e920"; }

.icon-award:before {
  content: "\e921"; }

.icon-bar-chart-2:before {
  content: "\e922"; }

.icon-bar-chart:before {
  content: "\e923"; }

.icon-battery-charging:before {
  content: "\e924"; }

.icon-battery:before {
  content: "\e925"; }

.icon-bell-off:before {
  content: "\e926"; }

.icon-bell:before {
  content: "\e927"; }

.icon-bluetooth:before {
  content: "\e928"; }

.icon-bold:before {
  content: "\e929"; }

.icon-book:before {
  content: "\e92a"; }

.icon-bookmark:before {
  content: "\e92b"; }

.icon-box:before {
  content: "\e92c"; }

.icon-briefcase:before {
  content: "\e92d"; }

.icon-calendar:before {
  content: "\e92e"; }

.icon-camera-off:before {
  content: "\e92f"; }

.icon-camera:before {
  content: "\e930"; }

.icon-cast:before {
  content: "\e931"; }

.icon-check-circle:before {
  content: "\e932"; }

.icon-check-square:before {
  content: "\e933"; }

.icon-check:before {
  content: "\e934"; }

.icon-chevron-down:before {
  content: "\e935"; }

.icon-chevron-left:before {
  content: "\e936"; }

.icon-chevron-right:before {
  content: "\e937"; }

.icon-chevron-up:before {
  content: "\e938"; }

.icon-chevrons-down:before {
  content: "\e939"; }

.icon-chevrons-left:before {
  content: "\e93a"; }

.icon-chevrons-right:before {
  content: "\e93b"; }

.icon-chevrons-up:before {
  content: "\e93c"; }

.icon-chrome:before {
  content: "\e93d"; }

.icon-circle:before {
  content: "\e93e"; }

.icon-clipboard:before {
  content: "\e93f"; }

.icon-clock:before {
  content: "\e940"; }

.icon-cloud-drizzle:before {
  content: "\e941"; }

.icon-cloud-lightning:before {
  content: "\e942"; }

.icon-cloud-off:before {
  content: "\e943"; }

.icon-cloud-rain:before {
  content: "\e944"; }

.icon-cloud-snow:before {
  content: "\e945"; }

.icon-cloud:before {
  content: "\e946"; }

.icon-codepen:before {
  content: "\e947"; }

.icon-command:before {
  content: "\e948"; }

.icon-compass:before {
  content: "\e949"; }

.icon-copy:before {
  content: "\e94a"; }

.icon-corner-down-left:before {
  content: "\e94b"; }

.icon-corner-down-right:before {
  content: "\e94c"; }

.icon-corner-left-down:before {
  content: "\e94d"; }

.icon-corner-left-up:before {
  content: "\e94e"; }

.icon-corner-right-down:before {
  content: "\e94f"; }

.icon-corner-right-up:before {
  content: "\e950"; }

.icon-corner-up-left:before {
  content: "\e951"; }

.icon-corner-up-right:before {
  content: "\e952"; }

.icon-cpu:before {
  content: "\e953"; }

.icon-credit-card:before {
  content: "\e954"; }

.icon-crop:before {
  content: "\e955"; }

.icon-crosshair:before {
  content: "\e956"; }

.icon-delete:before {
  content: "\e957"; }

.icon-disc:before {
  content: "\e958"; }

.icon-download-cloud:before {
  content: "\e959"; }

.icon-download:before {
  content: "\e95a"; }

.icon-droplet:before {
  content: "\e95b"; }

.icon-edit-2:before {
  content: "\e95c"; }

.icon-edit-3:before {
  content: "\e95d"; }

.icon-edit:before {
  content: "\e95e"; }

.icon-external-link:before {
  content: "\e95f"; }

.icon-eye-off:before {
  content: "\e960"; }

.icon-eye:before {
  content: "\e961"; }

.icon-facebook:before {
  content: "\e962"; }

.icon-fast-forward:before {
  content: "\e963"; }

.icon-feather:before {
  content: "\e964"; }

.icon-file-minus:before {
  content: "\e965"; }

.icon-file-plus:before {
  content: "\e966"; }

.icon-file-text:before {
  content: "\e967"; }

.icon-file:before {
  content: "\e968"; }

.icon-film:before {
  content: "\e969"; }

.icon-filter:before {
  content: "\e96a"; }

.icon-flag:before {
  content: "\e96b"; }

.icon-folder:before {
  content: "\e96c"; }

.icon-github:before {
  content: "\e96d"; }

.icon-gitlab:before {
  content: "\e96e"; }

.icon-globe:before {
  content: "\e96f"; }

.icon-grid:before {
  content: "\e970"; }

.icon-hash:before {
  content: "\e971"; }

.icon-headphones:before {
  content: "\e972"; }

.icon-heart:before {
  content: "\e973"; }

.icon-help-circle:before {
  content: "\e974"; }

.icon-home:before {
  content: "\e975"; }

.icon-image:before {
  content: "\e976"; }

.icon-inbox:before {
  content: "\e977"; }

.icon-info:before {
  content: "\e978"; }

.icon-instagram:before {
  content: "\e979"; }

.icon-italic:before {
  content: "\e97a"; }

.icon-layers:before {
  content: "\e97b"; }

.icon-layout:before {
  content: "\e97c"; }

.icon-life-buoy:before {
  content: "\e97d"; }

.icon-link-2:before {
  content: "\e97e"; }

.icon-link:before {
  content: "\e97f"; }

.icon-list:before {
  content: "\e980"; }

.icon-loader:before {
  content: "\e981"; }

.icon-lock:before {
  content: "\e982"; }

.icon-log-in:before {
  content: "\e983"; }

.icon-log-out:before {
  content: "\e984"; }

.icon-mail:before {
  content: "\e985"; }

.icon-map-pin:before {
  content: "\e986"; }

.icon-map:before {
  content: "\e987"; }

.icon-maximize-2:before {
  content: "\e988"; }

.icon-maximize:before {
  content: "\e989"; }

.icon-menu:before {
  content: "\e98a"; }

.icon-message-circle:before {
  content: "\e98b"; }

.icon-message-square:before {
  content: "\e98c"; }

.icon-mic-off:before {
  content: "\e98d"; }

.icon-mic:before {
  content: "\e98e"; }

.icon-minimize-2:before {
  content: "\e98f"; }

.icon-minimize:before {
  content: "\e990"; }

.icon-minus-circle:before {
  content: "\e991"; }

.icon-minus-square:before {
  content: "\e992"; }

.icon-minus:before {
  content: "\e993"; }

.icon-monitor:before {
  content: "\e994"; }

.icon-moon:before {
  content: "\e995"; }

.icon-more-horizontal:before {
  content: "\e996"; }

.icon-more-vertical:before {
  content: "\e997"; }

.icon-move:before {
  content: "\e998"; }

.icon-music:before {
  content: "\e999"; }

.icon-navigation-2:before {
  content: "\e99a"; }

.icon-navigation:before {
  content: "\e99b"; }

.icon-octagon:before {
  content: "\e99c"; }

.icon-package:before {
  content: "\e99d"; }

.icon-paperclip:before {
  content: "\e99e"; }

.icon-pause-circle:before {
  content: "\e99f"; }

.icon-pause:before {
  content: "\e9a0"; }

.icon-percent:before {
  content: "\e9a1"; }

.icon-phone-call:before {
  content: "\e9a2"; }

.icon-phone-forwarded:before {
  content: "\e9a3"; }

.icon-phone-incoming:before {
  content: "\e9a4"; }

.icon-phone-missed:before {
  content: "\e9a5"; }

.icon-phone-off:before {
  content: "\e9a6"; }

.icon-phone-outgoing:before {
  content: "\e9a7"; }

.icon-phone:before {
  content: "\e9a8"; }

.icon-pie-chart:before {
  content: "\e9a9"; }

.icon-play-circle:before {
  content: "\e9aa"; }

.icon-play:before {
  content: "\e9ab"; }

.icon-plus-circle:before {
  content: "\e9ac"; }

.icon-plus-square:before {
  content: "\e9ad"; }

.icon-plus:before {
  content: "\e9ae"; }

.icon-pocket:before {
  content: "\e9af"; }

.icon-power:before {
  content: "\e9b0"; }

.icon-printer:before {
  content: "\e9b1"; }

.icon-radio:before {
  content: "\e9b2"; }

.icon-refresh-ccw:before {
  content: "\e9b3"; }

.icon-refresh-cw:before {
  content: "\e9b4"; }

.icon-repeat:before {
  content: "\e9b5"; }

.icon-rewind:before {
  content: "\e9b6"; }

.icon-rotate-ccw:before {
  content: "\e9b7"; }

.icon-rotate-cw:before {
  content: "\e9b8"; }

.icon-save:before {
  content: "\e9b9"; }

.icon-scissors:before {
  content: "\e9ba"; }

.icon-search:before {
  content: "\e9bb"; }

.icon-server:before {
  content: "\e9bc"; }

.icon-settings:before {
  content: "\e9bd"; }

.icon-share-2:before {
  content: "\e9be"; }

.icon-share:before {
  content: "\e9bf"; }

.icon-shield:before {
  content: "\e9c0"; }

.icon-shopping-cart:before {
  content: "\e9c1"; }

.icon-shuffle:before {
  content: "\e9c2"; }

.icon-sidebar:before {
  content: "\e9c3"; }

.icon-skip-back:before {
  content: "\e9c4"; }

.icon-skip-forward:before {
  content: "\e9c5"; }

.icon-slack:before {
  content: "\e9c6"; }

.icon-slash:before {
  content: "\e9c7"; }

.icon-sliders:before {
  content: "\e9c8"; }

.icon-smartphone:before {
  content: "\e9c9"; }

.icon-speaker:before {
  content: "\e9ca"; }

.icon-square:before {
  content: "\e9cb"; }

.icon-star:before {
  content: "\e9cc"; }

.icon-stop-circle:before {
  content: "\e9cd"; }

.icon-sun:before {
  content: "\e9ce"; }

.icon-sunrise:before {
  content: "\e9cf"; }

.icon-sunset:before {
  content: "\e9d0"; }

.icon-tablet:before {
  content: "\e9d1"; }

.icon-tag:before {
  content: "\e9d2"; }

.icon-target:before {
  content: "\e9d3"; }

.icon-thermometer:before {
  content: "\e9d4"; }

.icon-thumbs-down:before {
  content: "\e9d5"; }

.icon-thumbs-up:before {
  content: "\e9d6"; }

.icon-toggle-left:before {
  content: "\e9d7"; }

.icon-toggle-right:before {
  content: "\e9d8"; }

.icon-trash-2:before {
  content: "\e9d9"; }

.icon-trash:before {
  content: "\e9da"; }

.icon-trending-down:before {
  content: "\e9db"; }

.icon-trending-up:before {
  content: "\e9dc"; }

.icon-triangle:before {
  content: "\e9dd"; }

.icon-tv:before {
  content: "\e9de"; }

.icon-twitter:before {
  content: "\e9df"; }

.icon-type:before {
  content: "\e9e0"; }

.icon-umbrella:before {
  content: "\e9e1"; }

.icon-underline:before {
  content: "\e9e2"; }

.icon-unlock:before {
  content: "\e9e3"; }

.icon-upload-cloud:before {
  content: "\e9e4"; }

.icon-upload:before {
  content: "\e9e5"; }

.icon-user-check:before {
  content: "\e9e6"; }

.icon-user-minus:before {
  content: "\e9e7"; }

.icon-user-plus:before {
  content: "\e9e8"; }

.icon-user-x:before {
  content: "\e9e9"; }

.icon-user:before {
  content: "\e9ea"; }

.icon-users:before {
  content: "\e9eb"; }

.icon-video-off:before {
  content: "\e9ec"; }

.icon-video:before {
  content: "\e9ed"; }

.icon-voicemail:before {
  content: "\e9ee"; }

.icon-volume-1:before {
  content: "\e9ef"; }

.icon-volume-2:before {
  content: "\e9f0"; }

.icon-volume-x:before {
  content: "\e9f1"; }

.icon-volume:before {
  content: "\e9f2"; }

.icon-watch:before {
  content: "\e9f3"; }

.icon-wifi-off:before {
  content: "\e9f4"; }

.icon-wifi:before {
  content: "\e9f5"; }

.icon-wind:before {
  content: "\e9f6"; }

.icon-x-circle:before {
  content: "\e9f7"; }

.icon-x-square:before {
  content: "\e9f8"; }

.icon-x:before {
  content: "\e9f9"; }

.icon-zap:before {
  content: "\e9fa"; }

.icon-zoom-in:before {
  content: "\e9fb"; }

.icon-zoom-out:before {
  content: "\e9fc"; }

.icon-heart-full:before {
  content: "\e9fd"; }

.icon-message-circle-full:before {
  content: "\e9fe"; }

.icon-user-plus-full:before {
  content: "\e9ff"; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .flex > * {
    -webkit-box-flex: 0 1 auto;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -webkit-flex: 0 1 auto;
    /* Safari 6.1+. iOS 7.1+, BB10 */
    -ms-flex: 0 1 auto;
    flex: 0 1 auto; }

.flex-equal > * {
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -webkit-flex: 1;
  /* Safari 6.1+. iOS 7.1+, BB10 */
  -ms-flex: 1;
  flex: 1; }

.align-items-stretch {
  -ms-flex-align: stretch;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch; }

.align-items-center {
  -ms-flex-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center; }

.align-self-start {
  -ms-flex-self: start;
  -webkit-box-self: start;
  -webkit-align-self: start;
  align-self: start; }

.align-items-start {
  -ms-flex-align: flex-start;
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start; }

.align-items-end {
  -ms-flex-align: flex-end;
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  align-items: flex-end; }

.justify-content-start {
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start; }

.justify-content-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.justify-content-end {
  -webkit-box-pack: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end; }

.justify-space-between {
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between; }

.justify-space-around {
  -webkit-box-pack: space-around;
  -webkit-justify-content: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around; }

.flex-column {
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column; }
  .flex-column > * {
    flex: 0 1 auto; }

.flex-wrap {
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.invert {
  color: white !important; }
  .invert * {
    color: white !important; }
  .invert .subtitle {
    opacity: .7; }
  .invert .subtle {
    opacity: .5; }

hr {
  height: 1px;
  width: 100%;
  border: 1px solid #fbfaff;
  margin: 2rem 0; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    cursor: pointer;
    list-style: none;
    text-transform: uppercase; }
    ul li.active {
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #04e8c5;
      font-weight: 800; }
      ul li.active * {
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #04e8c5;
        font-weight: 800; }
  ul.flex > :not(:first-child) {
    margin-left: 10px; }

ul.invert li {
  opacity: .5;
  color: white; }
  ul.invert li.active {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #04e8c5;
    font-weight: 800;
    color: white;
    opacity: 1; }
    ul.invert li.active * {
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #04e8c5;
      font-weight: 800;
      color: white;
      opacity: 1; }

.nocollapse {
  white-space: nowrap; }

.mt1 {
  margin-top: 1rem; }

.mt2 {
  margin-top: 2rem; }

.mr1 {
  margin-right: 10px; }

.ml1 {
  margin-left: 10px; }

.mb2 {
  margin-bottom: 2rem !important; }

figure {
  margin: 0; }

strong {
  font-weight: 800; }

hgroup.heading p {
  margin: 1em 0 0 0; }

* {
  font-family: 'Poppins';
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  box-sizing: border-box; }

button, input, optgroup, select, textarea {
  font-family: 'Poppins'; }

h1, h2, h3, h4, h5, h6 {
  color: #3e378a; }

nav {
  height: 60px;
  margin: 0 2rem;
  width: calc(100% - 4rem);
  border-bottom: 1px solid #56e6d0; }
  nav .nav-inner {
    width: 100%; }
  nav .logo-wrap {
    text-decoration: none;
    width: 100%; }
    nav .logo-wrap a {
      text-decoration: none; }
      nav .logo-wrap a .logo {
        margin-left: 15px;
        color: #56e6d0;
        font-size: 20px;
        font-weight: 100; }

img {
  width: 100%;
  height: auto; }

h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 600; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.17rem; }

h4 {
  font-size: 1rem; }

h5 {
  font-size: .83rem; }

h6 {
  font-size: .67rem; }

a {
  color: #3f33c1; }

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px; }
  p.para {
    color: rgba(28, 208, 181, 0.5); }
  p.secondary {
    color: #8585bd;
    font-weight: 300; }
  p.desc {
    font-size: 18px; }

small {
  display: block;
  font-size: 12px;
  line-height: 20px;
  color: #3f33c1; }
  small.para {
    color: rgba(28, 208, 181, 0.5); }

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 1rem; }
  .container .thin {
    max-width: 900px; }

.row {
  margin: 1rem 0; }

.primary {
  color: #04e8c5; }

.spacey {
  letter-spacing: 1px; }

.title {
  color: #3e378a; }

.subtitle {
  text-transform: uppercase;
  color: #04e8c5; }

.subtle {
  margin: 0;
  color: #a3afad;
  font-weight: 100; }

.headline {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 1rem; }
  .headline p {
    font-weight: 800;
    font-size: 24px;
    opacity: 0.1; }
  .headline .headline-line {
    margin-left: 10px;
    width: 100%;
    height: 1px;
    background: #a3afad;
    height: 10px;
    background: rgba(248, 248, 253, 0.1) !important; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right !important; }

.bl-box {
  border-radius: 20px; }

.bl-logo-svg {
  width: 100px; }
  .bl-logo-svg > :nth-child(0) {
    fill: rgba(136, 253, 235, 0.55); }
  .bl-logo-svg > :nth-child(1) {
    fill: rgba(136, 253, 235, 0.55); }
  .bl-logo-svg > :nth-child(2) {
    fill: rgba(136, 253, 235, 0.55); }
  .bl-logo-svg > :nth-child(3) {
    fill: rgba(136, 253, 235, 0.55); }
  .bl-logo-svg > :nth-child(4) {
    fill: rgba(136, 253, 235, 0.55); }
  .bl-logo-svg.lg {
    width: 180px; }
  .bl-logo-svg.sm {
    width: 50px; }
  .bl-logo-svg.white path {
    fill: white; }

main {
  background: linear-gradient(0deg, #effffc, #e7fffb); }

footer {
  position: relative; }
  footer.secondary:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: radial-gradient(circle at 10% 5%, #5f54dc, #3227a1); }
  footer.secondary #bl-footer-svg > :nth-child(1) {
    fill: #6054d7; }
  footer.secondary #bl-footer-svg > :nth-child(2) {
    fill: #8c81f2; }
  footer.secondary #bl-footer-svg > :nth-child(3) {
    fill: #d7d3ff; }
  footer.secondary #bl-footer-svg > :nth-child(4) {
    fill: #fff; }
  footer hr {
    width: 100%;
    opacity: .1; }
  footer #footer-top-wrap {
    padding: 4rem 0; }
    footer #footer-top-wrap #footer-top {
      width: 100%; }
  footer #footer-bottom {
    padding: 1rem 0 3rem 0; }
    footer #footer-bottom a {
      opacity: .5; }
  footer .col > * {
    margin-bottom: 1rem; }
  footer .col a {
    opacity: .75; }
  footer > * {
    z-index: 1;
    position: relative; }
  footer:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: ''; }
  footer:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: radial-gradient(circle at 10% 5%, #37aa98, #126658); }
  footer p, footer small, footer a {
    text-decoration: none;
    font-weight: 100 !important;
    font-size: 12px;
    color: white;
    margin: 0; }
  footer .container {
    max-width: 1168px; }
  footer #bl-footer-svg {
    height: 75px;
    width: 100%; }
    footer #bl-footer-svg > :nth-child(1) {
      fill: #30b39e; }
    footer #bl-footer-svg > :nth-child(2) {
      fill: #5ad3c1; }
    footer #bl-footer-svg > :nth-child(3) {
      fill: #8ef2e4; }
    footer #bl-footer-svg > :nth-child(4) {
      fill: #eefffc; }

@-webkit-keyframes rotateAnimation {
  0% {
    transform: rotate(0deg); }
  50% {
    fill: #3f33c1; }
  100% {
    transform: rotate(360deg); } }

@-moz-keyframes rotateAnimation {
  0% {
    transform: rotate(0deg); }
  50% {
    fill: #3f33c1; }
  100% {
    transform: rotate(360deg); } }

@-o-keyframes rotateAnimation {
  0% {
    transform: rotate(0deg); }
  50% {
    fill: #3f33c1; }
  100% {
    transform: rotate(360deg); } }

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg); }
  50% {
    fill: #3f33c1; }
  100% {
    transform: rotate(360deg); } }

.rotate {
  -webkit-animation: rotateAnimation 2s infinite linear;
  animation: rotateAnimation 2s infinite linear;
  display: inline-block;
  color: #87e2d5;
  font-size: 64px; }

@media (max-width: 768px) {
  button.micro {
    height: 34px;
    font-size: 12px;
    padding: 5px 10px; }
  .invert-sm {
    color: white; }
    .invert-sm * {
      color: white; }
  .hide-sm {
    display: none; }
  .minimize-thin-sm {
    font-size: 12px;
    font-weight: 100; }
  .flex-column-reverse-sm {
    -ms-flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .flex-column-sm {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column; }
  .flex-row-sm {
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row; }
    .flex-row-sm > * {
      flex: 0 1 auto; } }

@media (min-width: 768px) {
  .hide-lg {
    display: none; }
  .justify-content-center-lg {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .justify-space-between-lg {
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between; }
  .align-items-center-lg {
    -ms-flex-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center; }
  .container {
    padding: 0 2rem; }
  footer #footer-top-wrap {
    padding: 4rem 0; }
  footer #bl-footer-svg {
    height: 150px; }
  main {
    padding: 8rem 0; }
    main nav {
      position: absolute;
      top: 0; } }

::selection {
  background: #04e8c5;
  color: white; }

html {
  font-size: 12px; }
  html body {
    margin: 0px; }
    html body h1, html body h2, html body h3, html body h4, html body h5, html body h6, html body p, html body a {
      margin: 0; }
    html body .pointer {
      cursor: pointer; }
    html body p {
      font-size: 14px; }
    html body a {
      font-weight: 800; }
    html body .xl {
      font-size: 36px; }
    html body .strong {
      font-weight: 800 !important; }
    html body .primary {
      color: #04e8c5; }
    html body button {
      border: 0;
      height: 54px;
      color: white;
      font-size: 14px;
      cursor: pointer;
      text-transform: uppercase;
      background: #04e8c5;
      letter-spacing: 1px;
      font-weight: 600; }
      html body button:not(.bare):not(.el-picker-panel__icon-btn) {
        min-width: 100px;
        padding: 10px 40px; }
      html body button.lt {
        border: 3px solid #04e8c5;
        color: #04e8c5;
        background: initial; }
      html body button.bare {
        padding: 0;
        background: initial;
        color: #04e8c5; }
      html body button.secondary {
        color: white;
        background: #3f33c1; }
      html body button[disabled] {
        cursor: not-allowed;
        opacity: .5; }
    html body .b-box {
      background: white;
      border: 3px solid #ededef;
      overflow: hidden;
      padding: 2rem 1rem; }
      @media (min-width: 768px) {
        html body .b-box {
          box-shadow: 0px 10px 40px -10px rgba(115, 213, 196, 0.5);
          border-radius: 20px;
          padding: 2rem;
          border: 0; } }
    html body .b-input {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      align-items: center; }
      html body .b-input > * {
        min-height: 100%;
        height: 100%; }
      html body .b-input input {
        height: 50px;
        overflow: hidden;
        border-radius: 4px;
        background: initial;
        color: #3f33c1;
        text-overflow: ellipsis;
        font-weight: 800; }
        html body .b-input input[disabled] {
          opacity: .5; }
        html body .b-input input::placeholder {
          font-size: 14px;
          letter-spacing: 1px;
          font-weight: 100; }
      html body .b-input:not(.el-date-editor) input {
        padding: 0px 0px 0px 10px !important; }
      html body .b-input.labelled input {
        border-radius: 0px 4px 4px 0px;
        border-left: 0px; }
      html body .b-input.labelled .label {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
        padding: .5rem;
        background: #bafef3;
        border: 1px solid #88fdeb; }
        html body .b-input.labelled .label small {
          color: #04e8c5;
          font-weight: 800; }
      html body .b-input.transparent input {
        background: initial; }
      html body .b-input.el-input.el-date-editor {
        width: 100%; }
      html body .b-input .el-select {
        width: 100%; }
        html body .b-input .el-select .el-input {
          height: 100%; }
          html body .b-input .el-select .el-input input {
            height: 100%; }
    html body .b-input-group {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      html body .b-input-group small {
        margin-right: 10px; }
    html body .b-input-row {
      -ms-flex-direction: row;
      -webkit-flex-direction: row;
      flex-direction: row; }
      html body .b-input-row:not(.nocollapse) {
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column; }
      html body .b-input-row.nocollapse > :not(:first-child) {
        margin-left: 5px; }
    html body .icon-noun_1265694_cc {
      transform: translateY(2px); }
      html body .icon-noun_1265694_cc.lg {
        font-size: 24px; }

@media (min-width: 768px) {
  html {
    font-size: 16px; }
    html body .xl {
      font-size: 64px; }
    html body .b-input-row {
      -ms-flex-direction: row;
      -webkit-flex-direction: row;
      flex-direction: row; }
      html body .b-input-row:not(.nocollapse) {
        -ms-flex-direction: row;
        -webkit-flex-direction: row;
        flex-direction: row; }
      html body .b-input-row > * {
        margin-bottom: 0; }
      html body .b-input-row > :not(:last-child) {
        margin-right: 10px; }
      html body .b-input-row > :not(:first-child) {
        margin-left: 10px; }
    html body button:not(.bare):not(.el-picker-panel__icon-btn) {
      border-radius: 3px; } }
