#worlds-best-photo-prism.blog
  a.blog-link(href='/the-worlds-best-photo-prism')
    span.icon-uniE01A
      span.inline-text next
    .table
      .table-cell
        //
          transform: rotate(-90deg);
          position: absolute;
          font-size: 150px;
          left: calc(100% + 50px);
          top: calc(50% - 75px);
          color: #2c2c2c;
        h1.hide-lg Next article
        hr.small.hide-lg
        span.date 3-8-2016
        
        h5 Creating the world's best photo prism
        p Designing a new class of optics is tough. How does one approach it?
