#gallery-block.flex.justify-content-center.align-items-center
    a(href='/gallery')
        button.bold
            .flex.align-items-center
                | View more examples
                .icon.icon-chevrons-right.ml1
style.
    #gallery-block {
        background: url(/static/2017/montage.jpg)
    }
    a {
        z-index: 99999;
        position: relative;
    } 